################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/iStudyBaseBall/v14/.suo
/iStudyBaseBall/bin
/iStudyBaseBall/obj
